@model IEnumerable<Gambling_Proj.Models.TblRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/dist/css/styles.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    th {
        background-color: #560505;
        text-align: center;
        color: #fff;
    }

    td {
        vertical-align: middle;
        text-align: center;
    }
    label {
        color: #560505;
    }
</style>
<div style="background-color: #470707;">
    <h1 class="mt-4" style="text-align:center;color:#fff;">Dashboard</h1>
</div>

<div class="panel-heading add-item-form" style="margin-top:50px;">
    @await Html.PartialAsync("CreatePartial", new TblRole())
</div>

<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    </script>
}